body{
    margin: 10vh 0;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-heading{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    margin: 20px 0;
}